<?xml version="1.0" ?>
<launch>

<!-- <group ns="polishing"> -->
	<!-- Run rqt configure for dynamic reconfiguration of parameters  -->
    <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure"/>

	<arg name="conveyorBeltConfig" value="1 50 30 30"/>

	<!-- Run conveyor belt node node -->
    <node name="conveyorBelt" pkg="test_polishing" type="conveyorBelt" args="$(arg conveyorBeltConfig)" output="screen"/>

<!-- </group> -->

</launch>
